<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title> SmartSpend | Expense</title>
    <th:block th:include="fragments/stylesheet.html" >

    </th:block>

</head>
<body class="sub_page">


<th:block th:include="fragments/header.html"></th:block>



    <div class="container mt-5">
        <h1 class="text-center mb-4">Expenses</h1>
        <a class="btn btn-primary mb-3" th:href="@{/add-expense}" role="button">Add Expense</a>
         <a th:href="@{/categories}">Manage Categories</a>
        <div class="form-group">
            <label for="category-filter">Filter by Category :</label>
            <select  id="category-filter" class="form-control" onchange="filterCategories()">
                <option value="" disabled>Select a Category</option>
                <option value="" selected>All</option>
                <option th:each="category : ${categories}" th:value="${category.categoryName}" th:text="${category.categoryName}" th:selected="expense.categoryId==category.categoryId" ></option>
            </select>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Category</th>
                <th>Expense Cost</th>
                <th>Expense Date</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expense : ${expenses}">
                <td th:text="${expense.categoryid.categoryName}">Category</td>
                <td th:text="${expense.expensescost}">Expense Cost</td>
                <td th:text="${expense.expenseDate}">Expense Date</td>
                <td th:text="${expense.notes}">Notes</td>
                <td>
                    <a class="btn btn-primary btn-sm" th:href="@{/edit-expense/{id}(id=${expense.expenseid})}">Edit</a>
                    <a class="btn btn-danger btn-sm" th:href="@{/delete-expense/{id}(id=${expense.expenseid})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


<!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-2 info_col">
          <div class="info_link_box">
            <div class="info_links">
                 <a th:href="@{/}">
                Home
              </a>
              <a th:href="@{/dashboard}">
                Dashboard
              </a>
              <a class="" href=".html"> <!--Page not yet created -->
                Tips
              </a>
            </div>
        
         </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col ">
            <div class="info_links">
               <a th:href="@{/budgets}">
                Budget
              </a>
              <a th:href="@{/expenses}">
                Expenses
              </a>
             <a th:href="@{/goals}">
                Goals
              </a>
              <a th:href="@{/report}">
                Reports
              </a>
            </div>
          </div>
        <!--
        <div class="col-md-6 col-lg-3 info_col ">
          <h4>
            Subscribe
          </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
        -->
      </div>
    </div>
  </section>

<!-- end info section -->

  <!-- jQery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->


    <script th:inline="javascript">
        function filterCategories() {
            var selectedType = document.getElementById("category-filter").value;
            var categories = document.querySelectorAll("tbody tr");

            for (var i = 0; i < categories.length; i++) {
                var categoryType = categories[i].querySelector("td:nth-child(1)").textContent;
                if (selectedType === "All" || selectedType === categoryType) {
                    categories[i].style.display = "";
                } else {
                    categories[i].style.display = "none";
                }
            }
        }
    </script>

</body>
</html>
